.button {
    border: 1px solid orange;
    width: 130px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #EB5A1E;
}

.button:hover {
    background-color: #FE5F1E;
    color: white;

}