.basket-btn {
    width: 150px;
    cursor: pointer;
    &__wrapper {
        margin: 10px;
    }
    
    &__inner {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
        height: 40px;

        border-radius: 30px;
        background-color: #FE5F1E;
    }

    &__icon-counts {
        display: flex;
    }

}
.separator {

}

.separator::before {
    content: "";
    top: 5px;
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #ffffff58;
    transform: rotate(0deg);
}