
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    &__body {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 30px;
    }
}

