
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    margin-top: 50px;
    &__body {
        width: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-row-gap: 30px;
    }
}


.page {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    font-size: 18px;
}

.page:hover {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 182, 25, 0.596);
}

.page:active {
    
}

.page--active {
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    user-select: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background-color: rgb(255, 182, 25);
}

.back {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.back::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    border-radius: 5px;
    top: 20px;
    right: 10px;
    background-color: black;
    transform: rotate(35deg);
}

.back::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 15px;
    right: 10px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(-35deg);
}


.forward {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    // border: 1px solid black;
}


.forward::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    border-radius: 5px;
    top: 20px;
    right: 10px;
    background-color: black;
    transform: rotate(-35deg);
}

.forward::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 15px;
    right: 10px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(35deg);
}

.navigation {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 30px;

    &__list {
        display: flex;
        gap: 10px;
    }

}