
.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    margin-top: 50px;
    &__body {
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 30px;
    }
}


.page {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.back {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.back::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    border-radius: 5px;
    top: 17px;
    right: 10px;
    background-color: black;
    transform: rotate(35deg);
}

.back::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 12px;
    right: 10px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(-35deg);
}


.forward {
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
}


.forward::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    border-radius: 5px;
    top: 17px;
    right: 10px;
    background-color: black;
    transform: rotate(-35deg);
}

.forward::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 3px;
    top: 12px;
    right: 10px;
    background-color: black;
    border-radius: 5px;
    transform: rotate(35deg);
}

.navigation {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 30px;

    &__list {
        display: flex;
        gap: 10px;
    }

}