.layout {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
