body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 580px;
    width: 1340px;
}

.content__btn {
    width: 300px;
    height: 50px;
    background-color: #282828;
    border-radius: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}









.container {
    height: 100%;
    width: 100%;
}

.header {
    margin-left: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f6f6f6;
    height: 100px;
}

.header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section {
    &__wrapper {
        display: flex;
        gap: 430px;
        justify-content: space-around;
    }

    &__header {
        display: flex;
        gap: 20px;
        align-items: center;
    }


    margin-top: 50px;

    &__wrapper {
        display: flex;
    }
}


.section__list {

}

.card {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__icon > img {
        width: 80px;
    }

    &__toggle {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        gap: 10px;
    }
    
    &__decrease {
        width: 15px;
        height: 15px;
        border: 2px solid orange;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }

    &__decrease::before {
        content: '';
        top: 6px;
        right: 3px;
        background-color: orange;
        width: 10px;
        height: 2px;
        position: absolute;
        border-radius: 50px;
        transform: translate(-50deg -50deg);
    }

    &__add {
        cursor: pointer;
        width: 10px;
        height: 10px;
        border: 1px solid orange;
        border-radius: 50%;
        position: relative;
    }

    &__add::before {
        content: '';
        top: 6px;
        right: 3px;
        background-color: orange;
        width: 7px;
        height: 1px;
        position: absolute;
        border-radius: 50px;
        transform: rotate(0deg);
    }

    &__add::after {
        content: '';
        top: 5px;
        right: 3px;
        background-color: orange;
        width: 7px;
        height: 1px;
        position: absolute;
        border-radius: 50px;
        transform: rotate(90deg);
    }

    &__remove {
        width: 30px;
        height: 30px;
        border: 1px solid #D7D7D7;
        border-radius: 50%;
        position: relative;
    }

    &__remove::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        top: 10px;
        right: 5px;
        transform: rotate(-45deg);
        background-color: #D7D7D7;
        border-radius: 10px;
    }

    &__remove::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 3px;
        top: 10px;
        right: 5px;
        background-color: #D7D7D7;
        border-radius: 10px;
        transform: rotate(45deg);
    }
}

.info {
    display: flex;
    align-items: center;
    gap: 450px;
    justify-content: space-around;
}


.choose {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

    &__back {
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #CACACA;
        border: 1px solid #CACACA;
        border-radius: 50px;
        cursor: pointer;
    }

    &__back > div {
        position: absolute;
    }

    &__back > div::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 1px;
        top: 0;
        border-radius: 50%;
        transform: rotate(-45deg);
        // background-color: red;
    }

    &__back > div::after {
        content: '';
        position: absolute;
        width: 15px;
        height: 1px;
        top: 20px;
        border-radius: 50%;
        // background-color: red;
        // transform: rotate(45deg);
    }

    &__buy-now {
        height: 30px;
        padding: 10px;
        border-radius: 30px;
        background-color: orange;
    }
}
