.item {
    width: 280px;
    border-radius: 10px;
    &__title {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    &__buy {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }

}
