.options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    border-radius: 10px;
    
    &__wrapper {
        margin: 10px;
    }

    &__type {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__sizes {
        margin-top: 10px;
    }

    &__sizes {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__item {
        text-align: center;
        // background-color: white;
        // text-align: center;
        line-height: 40px;
        width: 130px;
        height: 40px;
        cursor: pointer;
        border-radius: 10px;
    }

    .options__item--active {
        background-color: white;
    }

    &__item:hover {
        background-color: rgba(255, 255, 255, 0.471);
    }
}

