.header {
    &__title h2 {
        font-weight: bolder;
        color: #181818;
    }

    &__title span {
        color: #7b7b7b !important;
    }

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
}
