.container {
    max-width: 1500px;
    // width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 30px 0;
}

table {
    height: 500px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    border-spacing: 0;
}

th {
    text-align: left;
}

thead th:first-child {
    text-align: right;
    padding-right: 10px;
}

thead th:first-child,
tbody td:first-child {
    border-right: 0;
    width: 20px;
    min-width: 20px;
    max-width: 20px;
    padding: 10px;
    text-align: right;
}

thead th {
    height: 30px;
    width: 130px;
    padding-left: 10px;
    color: gray;
    background-color: #fcfbfc;
    border-top: 1px solid rgba(215, 215, 215, 0.268);
    border-bottom: 1px solid rgba(215, 215, 215, 0.268);
    border-right: 1px solid rgba(215, 215, 215, 0.268);
}

thead th:first-child {
    border-radius: 5px 0 0 5px;
}

thead th:nth-child(11) {
    border-right: 0;
}

thead th:last-child {
    border-radius: 0 5px 5px 0;
}

tbody tr:hover {
    background-color: rgba(218, 210, 210, 0.148);
}

tbody td {
    padding-left: 10px;
    border-right: 1px solid rgba(215, 215, 215, 0.268);
    border-bottom: 1px solid rgba(215, 215, 215, 0.268);
}

tbody td:first-child {
    width: 30px;
    padding-right: 10px;
    text-align: right;
}

thead th:nth-child(11) {
    
}

tbody td:nth-child(11) {
    border-right: none;
}

tbody td:nth-last-child {
    border-right: none;
}

tbody td {
    height: 30px;
}

.element {
    cursor: pointer;
    border: 1px solid black;
    height: 20px;
    position: relative;
}

.element--active::before {
    content: "";
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 10px;
    position: absolute;
    left: -11px;
    bottom: -115px;
}

.asset-navigation {
    width: 15px;
    height: 15px;
    padding: 3px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}

.asset-navigation:hover {
    background-color: rgba(169, 160, 160, 0.122);
}

.asset-navigation div {
    width: 4px;
    height: 4px;
    border-radius: 100px;
    background-color: black;
}